/* === PRIMARY FONT === */
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* === BUTTON FONT === */
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cuprum-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* === ROOT === */
:root {
    /* backgrounds */
    --bg: #F7F8FA;
    --bg_header: #efede6;
    /* msg */
    --success-primary: #4F9D77;
    --warning-primary: #C7A555;
    --danger-primary: #CC6B6B;
    --danger-primary-transparent: rgba(204, 107, 107, 0.5);
    --info-primary: #5C86B0;
    /* buttons */
    --button-primary: #dad6c8;
    --button-primary-hover: #9c8f69;
    --button-disabled: #d7dde7;
    /* colors */
    --text-primary: #3B4553;
    --text-700: #63758c;
    --text-button: #3B3127;
    --text-disabled: #728097;
    /* fonts */
    --font-primary: 'Lora', serif;
    --font-button: 'Cuprum', sans-serif;
    /* z-index */
    --z-main-frame: 1000;
    --z-navbar: 900;
    --z-msg: 2000;
    --z-modal: 3000;

    --surface: #FFF;
    --border: #d7dde7;
    --radius: 4px;
    --shadow: 0 6px 16px rgba(0, 0, 0, .06);
}

/* === ANIMATIONS === */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
}